/* Media queries */
/*****************************************LARGE MOBILE PHONE*********************************************/
@media (max-width: 768px) and (min-width: 425px)
{
    .Container { 
        justify-content: space-between;
        width: 18rem;
        height: auto;
        margin-top: 25rem;
    }


    .card {
        display: flex;
        flex-direction: column;
        background-color:hsl(360, 0%, 100%);  
    }

    figure img {
        width: 18rem;
        height:23rem;
        overflow: hidden;
        border-radius: 0.5rem 0.5rem 0 0;
    }

    .attribution{  
        padding: 0.125rem 0 0 0rem;
        margin:4rem 0 2rem 0;
        width: 100%;
        position: relative;
        bottom: 0;
        font-size: 0.688rem;
        text-align: center;
    }
}
/*****************************************MEDIUM MOBILE PHONE********************************************/
@media (max-width:425px) and (min-width:375px)
{
    .Container { 
        justify-content: space-between;
        width: 18rem;
        height: auto;
        margin-top: 25rem;
    }


    .card {
        display: flex;
        flex-direction: column;
        background-color:hsl(360, 0%, 100%);  
    }

    figure img {
        width: 18rem;
        height:23rem;
        overflow: hidden;
        border-radius: 0.5rem 0.5rem 0 0;
    }

    .attribution{  
        padding: 0.125rem 0 0 0rem;
        margin:4rem 0 2rem 0;
        width: 100%;
        position: relative;
        bottom: 0;
        font-size: 0.688rem;
        text-align: center;
    }
}
/*****************************************SMALL MOBILE PHONE********************************************/

@media (max-width: 375px) and (min-width: 320px) {
    .Container { 
        justify-content: space-between;
        width: 21rem;
        margin-top: 25rem;
    }


    .card {
        display: flex;
        flex-direction: column;
        background-color:hsl(360, 0%, 100%);  
    }

    figure img {
        width: 21rem;
        height:23rem;
        overflow: hidden;
        border-radius: 0.5rem 0.5rem 0 0;
    }

    .attribution{  
        padding: 0.125rem 0 0 0rem;
        margin:4rem 0 2rem 0;
        width: 100%;
        position: relative;
        bottom: 0;
        font-size: 0.688rem;
        text-align: center;
    }
}



/*****************************************EXTRA SMALL MOBILE PHONE********************************************/

@media (max-width:270px) and (min-width:375px)
{
    .Container { 
        justify-content: space-between;
        width: 21rem;
        margin-top: 25rem;
    }


    .card {
        display: flex;
        flex-direction: column;
        background-color:hsl(360, 0%, 100%);  
    }

    figure img {
        width: 21rem;
        height:23rem;
        overflow: hidden;
        border-radius: 0.5rem 0.5rem 0 0;
    }

    .attribution{  
        padding: 0.125rem 0 0 0rem;
        margin:4rem 0 2rem 0;
        width: 100%;
        position: relative;
        bottom: 0;
        font-size: 0.688rem;
        text-align: center;
    }
}