/* Media queries */


@media (max-width: 375px) and (min-width: 320px) {
   
   
    .Container { 
        justify-content: space-between;
        width: 28rem;
    }


    .card {
        display: flex;
        flex-direction: column;
        background-color:hsl(360, 0%, 100%);
        border-radius:0.5rem;   
    }

}