* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: hsl(30, 38%, 92%);

}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Container {
    background-color: hsl(0, 0%, 100%);
    justify-content: space-between;
    width: 500px;
}

.card {
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(124, 124, 124);
    border-radius: 3px;
}

figure img {
    width: 100%;
    height:100%;
    overflow: hidden;
}

.content
{
    margin: 0.5rem 1rem 0.5rem 1rem;
}

.preTitle {
    font-size: 14px;
    font-weight: 500;
    padding: 10px 20px 0 20px;
    color: grey;
    font-family: 'Montserrat', sans-serif;
}

.cardTitle {
    font-size: 24px;
    padding: 10px 20px 0 20px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    
}

.paragraph {
    font-size: 14px;
    font-weight: 500;
    padding: 10px 20px 0 20px;
    color: grey;
    font-family: 'Montserrat', sans-serif;
}

.prices {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 1rem;
    font-family: 'Montserrat';
}

.prices h5 {
    padding: 8px 0 0 0;
    text-decoration: line-through;
}

button
{
    margin: 1rem 1rem 1rem 1rem;
    padding: 0.5rem 3.5rem 0.5rem 3.5rem;
    border-radius: 7%;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    text-align: center;
    border: 1px solid hsl(158, 36%, 37%);
    background-color: hsl(158, 36%, 37%);
    color:hsl(30, 38%, 92%);

}
footer {
    text-decoration: none;
    padding: 18rem 0 0 0rem;
    width: 100%;
    position: relative;
    bottom: 0;
}