* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(30, 38%, 92%);
}

.Container {
    
    justify-content: space-between;
    width: 520px;
}

.card {
    display: flex;
    flex-direction: row;
    background-color:hsl(360, 0%, 100%);
    border: radius 10px;
    
}

figure img {
    width: 100%;
    height:100%;
    overflow: hidden;
}

.content
{
    display: flex;
    flex-direction: column;
    margin: 1rem 0.6rem 0.5rem 0.6rem;
}

.preTitle {
    font-size: 11.5px;
    font-weight: 500;
    padding: 10px 20px 0 20px;
    color: grey;
    font-family: 'Montserrat', sans-serif;
}

.cardTitle {
    font-size: 24px;
    padding: 10px 20px 0 20px;
    font-weight: 700;
    font-family: 'Fraunces', serif;
    color: hsl(212, 21%, 14%)
}

.paragraph {
    font-size: 14px;
    font-weight: 500;
    padding: 10px 20px 0 20px;
    color: grey;
    font-family: 'Montserrat', sans-serif;
}

.prices {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 1rem;
    
}

.prices h2
{
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%)
}
.prices h5 {
    padding: 8px 0 0 0;
    text-decoration: line-through;
    color: grey;
}

button
{
    margin: 1rem 1rem 1rem 1rem;
    padding: 0.5rem 3.5rem 0.5rem 3.5rem;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    border: 1px solid hsl(158, 36%, 37%);
    background-color: hsl(158, 36%, 37%);
    color:hsl(0, 0%, 100%);

}

button img
{
    margin-right: 2.5px;
    margin-bottom: 2px;
    height:13px;
    width: 13px;
}
footer {
    
    padding: 18rem 0 0 0rem;
    width: 100%;
    position: relative;
    bottom: 0;
}

footer a
{
    text-decoration: none;
}